meta(charset='utf-8')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='renderer', content='webkit')
meta(http-equiv='Cache-Control', content='no-siteapp')
meta(name='format-detection', content='telephone=no')
meta(content='好规划网（www.guihua.com）免费为您提供专业、专属、易懂、可行的在线理财规划及理财咨询服务。是国内领先的理财方案定制平台。', name='description')
meta(content='理财规划,投资理财,个人理财,家庭理财,在线理财网', name='keywords')
meta(name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no")
meta(http-equiv="Expires" content="0")
meta(http-equiv="Pragma" content="no-cache")
meta(http-equiv="Cache-control" content="no-cache")
meta(http-equiv="Cache" content="no-cache")
link(rel='shortcut icon', href='https://guihua-static.licaigc.com/favicon.ico', type='image/x-icon')
