extends ../../common/html/base.pug

block title
  title 测试

block css
  link(rel='stylesheet', href='{{{h5/demo/index.css}}}')

block main
  a(href="/h5/demo/basic.html" class="u-btn") 框架常用方法使用案例
  a(href="/h5/demo/share.html" class="u-btn") 分享测试用例
  a(href="/h5/demo/toast.html" class="u-btn") 客户端吐司测试用例
  a(href="/h5/demo/link.html" class="u-btn") 短链测试


