extends ../../common/html/base.pug

block title
  title 测试

block css
  link(rel='stylesheet', href='{{{h5/demo/index.css}}}')

block main
  a(href="gh://dailycard/index" class="u-btn") 每日卡片
  a(href="gh://reward/card" class="u-btn") 礼品卡
  a(href="gh://reward/gift" class="u-btn") 实物礼
  a(href="https://lkme.cc/ogC/QGCKRdJ1K" class="u-btn") 深链：每日卡片
  a(href="https://lkme.cc/ogC/CYjIqdJ1K" class="u-btn") 深链：礼品卡
  a(href="https://lkme.cc/ogC/STC16eJ1K" class="u-btn") 深链：实物礼



