extends ../../common/html/base.pug

block title
  title 通用分享

block css
  link(rel='stylesheet', href='{{{h5/demo/index.css}}}')

block js
  script(src='{{{common/js/lib/wx_sdk.js}}}')
  script(src='{{{h5/demo/page/share_new.js}}}')

block main
  div(id='container',class='u-baidu-statistics')
